<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('휜 다리 자가진단')"></head>
<body>


<nav th:replace="fragments/common :: menu('self')"></nav>


<main>
  <div class="jb-wrap">
    <div class="jb-image text-center mt-5">
      <img th:src="@{/image/self_bowlegs.png}" width="700">
    </div>
    <div class="jb-text">
      <table class="table table-hover">
        <tbody>
        <tr th:each="survey, i : ${surveys}">
          <input type="checkbox" name="chk_cnt">
          <p th:text="${survey.question}">질문</p>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="margin-bottom:1%;text-align:center">
    <a class="btn btn-outline-primary col-md-1 mx-5" style="width:300px" type="button" th:onclick="|goCheck()|">휜 다리 진단 결과 확인</a>
  </div>

  <div style="margin-bottom:10%;text-align:center" >
    <a class="btn btn-outline-primary col-md-1 mx-5" style="width:300px" type="button" href="#"
       th:href="@{/disease/disease_bowlegs}">휜 다리 상세설명으로 이동</a>
  </div>


</main>

<!-- FOOTER -->
<div th:replace="fragments/common :: bottom"></div>


<!--<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<footer th:replace="fragments/common :: footer"></footer>

<script>
    function goCheck(){
        var chk = $('input[name="chk_cnt"]');
        if(chk.length==0){
            return;
        }
        var cnt= 0;
        $.each(chk, function(idx, ch){
            if($(ch).is(":checked"))
                cnt++;
        });


        if(cnt>=3){
            alert("휜다리가 의심됩니다. 진단을 받아보시는 것을 추천드립니다.");
            return;
        }
        else
        {
            alert("이상이 없습니다.");
            return;
        }
    }
</script>

</body>
</html>