<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('게시판')"></head>

<body style="overflow-x: hidden;">

    <nav th:replace="fragments/common :: menu('board')">

    </nav>



<!-- 공지사항 -->
<p style="text-align: center; font-size: 200%; font-weight: bold; margin-top: 10rem; margin-bottom: 5rem;">공지사항</p>
<div class="main_notice">
    <form class="form-inline d-flex justify-content-end notice_form" method="GET" th:action="@{/board/list}">
        <div class="form-group mx-sm-2 mb-2">
            <label for="searchText" class="sr-only">검색</label>
            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-secondary mb-2">검색</button>
    </form>
    <table class="table table-hover" style="width: 70%; margin: 2% auto;" >
        <tbody>
        <tr style="border: none;" th:each="board, i : ${boards}">
            <td class="notice_td">
                <a th:href="@{/board/form(id=${board.id})}">
                    <p th:text="${board.title}" style="font-size: 110%;">iOS 12.x 버전 업데이터 지원 중단 안내</p>&nbsp;&nbsp;&nbsp;
                    <p th:text="${board.user.userid}" style="font-size: 100%; float:right; padding-right: 5rem; margin-bottom:0;">작성자</p><br>
                    <p th:text="${board.date}" class="notice_date">2021.12.06</p>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-right div_write">
        <a type="button" class="btn btn-secondary" th:href="@{/board/form}"
           sec:authorize="hasRole('ROLE_USER')">쓰기</a>
    </div>

<!--    <nav aria-label="Page navigation example" style="margin: 0 auto; margin-top: 5%;">-->
<!--        <ul class="pagination justify-content-center">-->
<!--            <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">-->
<!--                <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1},searchText=${param.searchText})}"-->
<!--                   tabindex="-1" aria-disabled="true"><</a>-->
<!--            </li>-->
<!--            <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'"-->
<!--                th:each="i: ${#numbers.sequence(startPage, endPage)}">-->
<!--                <a class="page-link" href="#" th:href="@{/board/list(page=${i - 1},searchText=${param.searchText})}" th:text="${i}">1</a>-->
<!--            </li>-->
<!--            <li class="page-item"-->
<!--                th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">-->
<!--                <a class="page-link" href="#"-->
<!--                   th:href="@{/board/list(page=${boards.pageable.pageNumber + 1},searchText=${param.searchText})}">></a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->

</div>

<br><br><br><br>

<!-- 푸터 설명 -->
<div th:replace="fragments/common :: bottom"></div>

<!-- jQuery, Popper.js, and Bootstrap JS -->
<footer th:replace="fragments/common :: footer"></footer>
</body>

</html>