<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('척추측만증 질환')"></head>
<body>


<nav th:replace="fragments/common :: menu('disease_scoliosis')"></nav>


<main>
  <div class="container px-5 py-5" id="featured-3">

    <div>
      <h1 class="pb-2 fw-bold mt-5 text-center">척추측만증(Scoliosis)</h1>

      <hr class="featurette-divider">
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" th:src="@{/image/detail_scoliosis.JPG}" alt="..." /></div>
      <div class="col-lg-5" style="font-size:20px">
        <br>
        <p>
          척추 측만증은 바르게 섰을 때 척추가 일자로 곧지 않고 휘어있는 상태를 말합니다.
          일반적으로 척추 측만증이라하면 척추가 정중앙에서 벗어나 좌우로 구불구불 휜 모습만을 떠올리기 쉽습니다.
          <br>
          그러나 많은 경우 척추 각각의 몸통(추체)도 함께 돌아가기 때문에 측만증은 3차원적으로 뒤틀린 형태의 변형까지 포함합니다
        </p>

      </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0" style="font-size:20px">척추측만증의 원인, 증상, 치료에 대해 알아보아요!</p></div>
    </div>
    <div style="margin-top:4%; margin-bottom:4%">
      <div class="main">
        <input type="radio" id="tab-1" name="show" checked/>
        <input type="radio" id="tab-2" name="show" />
        <input type="radio" id="tab-3" name="show" />
        <div class="tab">
          <label for="tab-1">원인</label>
          <label for="tab-2">증상</label>
          <label for="tab-3">치료</label>
        </div>
        <div class="content">
          <div class="content-dis">
            척추측만증을 유발하는 요인은 다음과 같습니다.<br>
            ① 유전적 요인 : 특발성 측만증의 가족력이 있는 집안에서 환자가 많이 발생하고, 쌍둥이 중 한 명이 특발성 측만증이면 다른 한 명에도 특발성 측만증이 잘 생긴다는 사실 등으로 유전적인 요인이 중요한 역할을 할 것으로 추정하였습니다.<br>
            ② 멜라토닌 : 멜라토닌이라는 뇌 속에서 만들어지는 물질이 생산되지 않으면 척추가 휘는 현상이 나타난다는 사실이 동물 실험에서 발견되었습니다.<br>
            ③ 근육 질환 : 뇌성 마비, 소아 마비, 사지 마비 등의 신경 질환과 근무력증 등의 근육 질환에서도 측만증이 생길 수 있습니다.<br>
            ④ 노인성(퇴행성 변화) : 나이가 든 60~70대의 노년층에서도 노인성(퇴행성) 변화로 척추가 옆으로 휘는 경우가 많습니다. 이를 “퇴행성 측만증”이라고 부릅니다.<br>
          </div>
          <div class="content-dis">
            척추측만증이 발견되는 계기는 주로 체형 이상 때문입니다.
            거울을 보다가 자신의 좌우 어깨의 높이가 다르거나 유방의 크기가 서로 다른 것을 보고 발견하거나, 등과 허리의 한쪽이 다른 쪽보다 더 튀어나온 것을 보고 부모님이나 주변 사람이 발견하기도 합니다.
            이처럼 척추측만증 중 가장 흔한 주 증상은 외관상 이상입니다.
          </div>
          <div class="content-dis">
            측만증으로 진단되었다고 무조건 치료해야 하는 것은 아닙니다. 측만증의 치료 방법에는 크게 “보조기 착용”, “수술적 치료”의 두 가지 방법이 있습니다.<br>
            ① 보조기 착용<br>
            보조기 치료는 측만이 유연하여 쉽게 교정되고, 측만 각도가 20~40도이고, 성장이 적어도 2년 이상 남아 있는 환자에서 효과적입니다.
            보조기 착용 목적은 척추의 성장을 허용하면서 만곡을 교정하고, 환자의 성장이 완료될 때까지 교정을 유지하여 만곡의 진행을 막아 주는 것입니다.
            보조기 치료에도 불구하고 만곡이 진행할 확률은 10~15% 정도로 알려져 있으며, 치료의 성패 여부는 적절한 보조기의 처방 및 환자의 순응도(의사 지시대로 잘 착용하는지의 여부)에 달려있습니다.<br>
            ② 수술적 치료<br>
            수술적 치료의 원리는 다양한 금속 내고정물을 사용하여 교정 및 신체의 균형을 얻은 후, 척추 유합술로써 교정을 유지하는 것입니다.
            수술 후 며칠 내에 일어서서 걸을 수 있으며, 필요에 따라 보조기를 하기도 하지만 보통은 보조기 없이 일상 생활에 복귀할 수 있으며, 고정에 사용한 기기는 특별한 경우를 제외하고 다시 빼지는 않습니다.
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align:center;color:red;margin-bottom:4%">
      <h5 class="fw-bold">
        정확한 진단은 전문가와 상담해보세요.
      </h5>
    </div>
  </div>
</main>

<!-- FOOTER -->
<div th:replace="fragments/common :: bottom"></div>


<!--<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>