<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('질환')"></head>
<body>


    <nav th:replace="fragments/common :: menu('disease')"></nav>


<main>

<!--    <section class="py-5 text-center container">-->
<!--        <div class="row py-lg-5">-->
<!--            <div class="col-lg-6 col-md-8 mx-auto">-->
<!--                <h1 class="fw-light">Album example</h1>-->
<!--                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>-->
<!--                <p>-->
<!--                    <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <div class="text-center">
        <div class="col-md-12">
            <h1 class="h1 mt-5 mb-4">
                <span style="font-weight: bold;">질환</span>
                <span class="text-muted" style="font-size: 2rem">Disease</span>
            </h1>
            <br>
            <p class="lead mb-5">골격 계통 질환 종류에 대해 자세히 알아보아요</p>
        </div>
    </div>


    <div class="album py-5 bg-light">
        <div class="container" style="margin-bottom:3%">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <a href="#" th:href="@{/disease/disease_turtleneck}">
                        <div  class="card shadow-sm">
                            <img th:src="@{/image/disease_turtleneck5.png}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">거북목 증후군</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">잘못된 자세로 인해 목, 어깨의 근육과 인대가 늘어나 통증이 생기는 증상을 의미합니다.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" th:href="@{/disease/disease_scoliosis}">
                        <div class="card shadow-sm">
                            <img th:src="@{/image/disease_scoliosis.JPG}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">척추측만증</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">척추가 옆으로 휜 경우에 속하는 대표적인 척추 변형 중 하나입니다</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" th:href="@{/disease/disease_frozenshoulder}">
                        <div class="card shadow-sm">
                            <img th:src="@{/image/disease_frozen shoulder.jpg}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">오십견</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">특별한 외상 없이 어깨에 통증이 발생하고 그 통증으로 인하여 어깨의 움직임에 지장이 생기는 질환을 의미합니다.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="#" th:href="@{/disease/disease_hivd}">
                        <div class="card shadow-sm">

                            <img th:src="@{/image/disease_disk.png}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">허리디스크</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    척추 뼈와 뼈 사이의 구조물인 디스크가 탈출된 증상을 의미합니다.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#" th:href="@{/disease/disease_rcs}">
                        <div class="card shadow-sm">
                            <img th:src="@{/image/disease_rcs.png}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">회전근개 증후군</h5>
                            </div>

                            <div class="card-body">
                                <p class="card-text">
                                    회전근개 증후군은 회전근개에 변형과 파열이 생긴 질환을 의미합니다.
                                    회전근개 증후군 증상은 목과 어깨 부위에 나타납니다.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#" th:href="@{/disease/disease_hand}">
                        <div class="card shadow-sm">
                            <img th:src="@{/image/disease_hand.png}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">손목 터널 증후군</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    손으로 들어가는 신경이 손가락을 움직이는 힘줄인 손목 터널에 눌려 압박을 받아 손 저림,
                                    감각 저하 등의 증상이 나타나는 질환을 의미합니다.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#" th:href="@{/disease/disease_roundshoulder}">
                        <div class="card shadow-sm">
                            <img th:src="@{/image/disease_roundshoulder.jpg}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">라운드 숄더(굽은 어깨)</h5>
                            </div>
                            <div class="card-body">

                                <p class="card-text">
                                    컴퓨터나 스마트폰만 보면 어깨가 사정없이 말리는 사람을 말한다.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#" th:href="@{/disease/disease_bowlegs}">

                        <div class="card shadow-sm">
                            <img th:src="@{/image/disease_bowlegs.png}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">휜 다리</h5>
                            </div>
                            <div class="card-body">

                                <p class="card-text">
                                    유전, 고관절의 변형, 종아리의 변형, 발의 변형, 평소 잘못된 자세 습관 등으로 다리가 휘는 증상을 의미합니다.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="#" th:href="@{/disease/disease_halluxValgus}">
                        <div class="card shadow-sm">
                            <img th:src="@{/image/disease_halluxValgus.jpg}">

                            <div class="text-center">
                                <h5 style="font-weight:bold;margin-top:3%">무지외반증</h5>
                            </div>
                            <div class="card-body">

                                <p class="card-text">
                                    엄지발가락이 둘재발가락 쪽으로 심하게 휘어져서 엄지발가락 관절이 안쪽으로 돌출된 상태를 의미합니다.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">2022-10-23</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>


</main>

<!-- FOOTER -->
<div th:replace="fragments/common :: bottom"></div>


<!--<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<footer th:replace="fragments/common :: footer"></footer>

</body>
</html>